# Kaggle <Titanic: Machine Learning from Disaster>

## Read data from csv

In [45]:
import pandas as pd

train = pd.read_csv('./data/train.csv')
test_X = pd.read_csv('./data/test.csv')

train_X = train.drop('Survived', axis=1)
train_y = train['Survived']
print('Train_X shape size : ', train_X.shape)
print('Test_X shape size : ', test_X.shape)

Train_X shape size :  (891, 11)
Test_X shape size :  (418, 11)

## Preprocess and select models by pipeline

In [55]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

"""
pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean'))
])
"""
"""
# Nan to mean
imputer = SimpleImputer(strategy='mean')
imputer.fit(train_X[['Age']])

imp_train_X = train_X.copy()
imp_train_X[['Age']] = imputer.transform(train_X[['Age']])

imp_test_X = test_X.copy()
imp_test_X[['Age']] = imputer.transform(test_X[['Age']])
display(imp_train_X.isnull().sum())
display(imp_test_X.isnull().sum())

# Drop Cabin
droped_cabin_train_X = imp_train_X.drop('Cabin', axis=1)
droped_cabin_test_X = imp_test_X.drop('Cabin', axis=1)

display(droped_cabin_train_X.isnull().sum())
display(droped_cabin_test_X.isnull().sum())
"""

all_X = pd.concat([train_X, test_X], axis=0)
imputer = SimpleImputer(strategy='mean')
imputer.fit(all_X[['Age']])

imp_all_X = all_X.copy()
imp_all_X[['Age']] = imputer.transform(imp_all_X[['Age']])
droped_nan_all_X = imp_all_X.drop('Cabin', axis=1)
droped_nan_all_X = droped_nan_all_X.dropna()
print(droped_nan_all_X.shape)
print(droped_nan_all_X.isnull().sum())
print(droped_nan_all_X.info)

(1306, 10)
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64
<bound method DataFrame.info of      PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
..           ...     ...                                                ...
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex        Age  SibSp  Parch              Ticket      Fare Embarked
0      male  22.000000      1      0           A/5 21171    7.2500        S
1    female  38.000000      1      0            PC 17599   71.2833        C
2    female  26.000000      0      0    STON/O2. 3101282    7.9250        S
3    female  35.000000      1      0              113803   53.1000        S
4      male  35.000000      0      0              373450    8.0500        S
..      ...        ...    ...    ...                 ...       ...      ...
413    male  29.881138      0      0           A.5. 3236    8.0500        S
414  female  39.000000      0      0            PC 17758  108.9000        C
415    male  38.500000      0      0  SOTON/O.Q. 3101262    7.2500        S
416    male  29.881138      0      0              359309    8.0500        S
417    male  29.881138      1      1                2668   22.3583        C

[1306 rows x 10 columns]>